<!--Title of section advice-->

<div class="d-flex justify-content-center text-center flex-column">
  <p id="advice" style="color: white">-</p>
  <h1
    style="
      font-family: 'Josefin Sans', sans-serif;
      font-size: 50px;
      font-weight: 500;
      line-height: 1.1;
      text-align: center;
      margin-top: 150px;
    "
  >
    More preparation, more success
  </h1>
  <p
    style="
      font-family: 'Josefin Sans', sans-serif;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.1;
      text-align: center;
    "
  >
    Have a look at our tips below. If you need more help about a specific topic,
    don't hesitate to contact us!
  </p>
</div>
