<!--ADVICE section-->

<!--PICTURE WHEN SCREEN SMALL-->

<div
  class="d-flex justify-content-center d-md-none d-lg-none d-lx-none d-sm-block mx-auto"
>
  <div class="d-flex flex-column justify-content-center">
    <h1
      style="font-family: 'Josefin Sans', sans-serif; font-weight: 600"
      class="text-light mb-5 text-center"
    >
      Careers advice
    </h1>
    <div class="d-flex justify-content-center">
      <img
        src="./static/advice.jpg"
        alt="computers"
        class="img-fluid"
        alt="woman giving advice to another woman"
        style="
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
          border-radius: 5px;
          height: 300px;
          width: 90%;
          object-fit: cover;
          margin-bottom: 50px;
        "
      />
    </div>
  </div>
</div>

<div class="row g-5">
  <!--ACCORDION-->
  <div class="accordion d-block col-md-7" id="accordion-advice">
    <!--1-->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse-eleven"
          aria-expanded="false"
          aria-controls="collapse-eleven"
          style="box-shadow: none"
        >
          <b>Continuously Learn and Stay Updated</b>
        </button>
      </h2>
      <div
        id="collapse-eleven"
        class="accordion-collapse collapse"
        data-bs-parent="#accordion-advice"
      >
        <div class="accordion-body">
          Technology is constantly evolving, so it's crucial to stay updated
          with the latest trends, frameworks, and programming languages. Engage
          in continuous learning through online courses, tutorials, and
          attending tech conferences.
        </div>
      </div>
    </div>
    <!--2-->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse-twelve"
          aria-expanded="false"
          aria-controls="collapse-twelve"
        >
          <b>Build a Strong Foundation</b>
        </button>
      </h2>
      <div
        id="collapse-twelve"
        class="accordion-collapse collapse"
        data-bs-parent="#accordion-advice"
      >
        <div class="accordion-body">
          Develop a solid understanding of fundamental programming concepts and
          principles. This foundation will help you grasp new technologies more
          easily and adapt to different programming languages.
        </div>
      </div>
    </div>
    <!--3-->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse-thirteen"
          aria-expanded="false"
          aria-controls="collapse-thirteen"
        >
          <b>Focus on Problem-Solving</b>
        </button>
      </h2>
      <div
        id="collapse-thirteen"
        class="accordion-collapse collapse"
        data-bs-parent="#accordion-advice"
      >
        <div class="accordion-body">
          Software development is all about solving problems. Enhance your
          problem-solving skills by practicing algorithmic thinking and logical
          reasoning. This will make you a more effective developer.
        </div>
      </div>
    </div>
    <!--4-->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse-forteen"
          aria-expanded="false"
          aria-controls="collapse-forteen"
        >
          <b>Collaborate and Network</b>
        </button>
      </h2>
      <div
        id="collapse-forteen"
        class="accordion-collapse collapse"
        data-bs-parent="#accordion-advice"
      >
        <div class="accordion-body">
          Engage with other developers, join tech communities, and participate
          in open-source projects. Collaborating with others not only expands
          your knowledge but also helps you build a strong professional network.
        </div>
      </div>
    </div>
    <!--5-->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse-fifteen"
          aria-expanded="false"
          aria-controls="collapse-fifteen"
        >
          <b>Showcase Your Work</b>
        </button>
      </h2>
      <div
        id="collapse-fifteen"
        class="accordion-collapse collapse"
        data-bs-parent="#accordion-advice"
      >
        <div class="accordion-body">
          Create a portfolio of your projects and contributions. This can
          include personal projects, open-source contributions, or freelance
          work. A strong portfolio demonstrates your skills and can make a
          positive impression on potential employers.
        </div>
      </div>
    </div>
    <!--6-->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse-sixteen"
          aria-expanded="false"
          aria-controls="collapse-sixteen"
        >
          <b>Embrace Continuous Improvement</b>
        </button>
      </h2>
      <div
        id="collapse-sixteen"
        class="accordion-collapse collapse"
        data-bs-parent="#accordion-advice"
      >
        <div class="accordion-body">
          Seek feedback on your code and actively work on improving it. Embrace
          code reviews and learn from experienced developers. Adopting a growth
          mindset will help you become a better developer over time.
        </div>
      </div>
    </div>
    <!--7-->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse-seventeen"
          aria-expanded="false"
          aria-controls="collapse-seventeen"
        >
          <b>Communication Skills Matter</b>
        </button>
      </h2>
      <div
        id="collapse-seventeen"
        class="accordion-collapse collapse"
        data-bs-parent="#accordion-advice"
      >
        <div class="accordion-body">
          Effective communication is essential for successful collaboration with
          team members, stakeholders, and clients. Develop your written and
          verbal communication skills to convey technical concepts clearly and
          concisely.
        </div>
      </div>
    </div>
    <!--8-->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse-eighteen"
          aria-expanded="false"
          aria-controls="collapse-eighteen"
        >
          <b>Stay Agile and Adapt</b>
        </button>
      </h2>
      <div
        id="collapse-eighteen"
        class="accordion-collapse collapse"
        data-bs-parent="#accordion-advice"
      >
        <div class="accordion-body">
          The tech industry is dynamic, and being adaptable is crucial. Embrace
          agile methodologies, be open to learning new tools and frameworks, and
          be willing to adapt to changing project requirements.
        </div>
      </div>
    </div>
  </div>

  <!--PICTURE WHEN BIG-->

  <div class="d-none d-md-block col-md-5 d-flex flex-column align-items-center">
    <h1
      style="
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 500;
        color: black;
      "
      class="mb-5 text-center"
    >
      Careers advice
    </h1>
    <div class="d-flex justify-content-center">
      <img
        src="./static/advice.jpg"
        alt="woman giving advice to another woman"
        class="img-fluid"
        style="
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
          border-radius: 5px;
          height: 300px;
          width: 90%;
          object-fit: cover;
        "
      />
    </div>
  </div>
</div>
