<footer>
  <!--BANNER-->
  <div class="container-fluid d-flex justify-content-center">
    <img
      class="img-fluid"
      id="banner"
      src="./static/bottom-banner.jpg"
      alt="people-working"
    />
  </div>

  <!--LINKS-->

  <div
    class="d-md-flex align-items-start justify-content-md-evenly justify-content-center border-bottom border-secondary py-5"
    style="background-color: rgb(38, 38, 39); color: white"
    id="about-us"
  >
    <div class="px-3 py-5">
      <li class="nav-item" style="list-style: none">
        <p
          class="nav-link fw-bold mb-5"
          style="
            font-family: 'Josefin Sans', sans-serif;
            text-transform: uppercase;
          "
        >
          For Job Seekers
        </p>
        <a
          href="#job"
          class="nav-link link-left mb-4"
          style="color: rgb(178, 177, 177)"
          >Browse Jobs</a
        >
        <a
          href="#advice"
          class="nav-link link-left mb-4"
          style="color: rgb(178, 177, 177)"
          >Careers Advice</a
        >
        <a
          href="#help"
          class="nav-link link-left mb-4"
          style="color: rgb(178, 177, 177)"
          >Personal help</a
        >
        <a
          href="#help"
          class="nav-link link-left mb-4"
          style="color: rgb(178, 177, 177)"
          >Writing CVs</a
        >
        <a
          href="#help"
          class="nav-link link-left mb-4"
          style="color: rgb(178, 177, 177)"
          >Help</a
        >
      </li>
    </div>

    <div class="px-3 py-5">
      <li class="nav-item" style="list-style: none">
        <p
          class="nav-link text-white fw-bold mb-5"
          style="
            font-family: 'Josefin Sans', sans-serif;
            text-transform: uppercase;
          "
        >
          For Employers
        </p>
        <a
          href="#about-us"
          class="nav-link link-left mb-4"
          style="color: rgb(178, 177, 177)"
          >Products</a
        >
        <a
          href="#about-us"
          class="nav-link link-left mb-4"
          style="color: rgb(178, 177, 177)"
          >Pricing
        </a>
        <a
          href="#about-us"
          class="nav-link link-left mb-4"
          style="color: rgb(178, 177, 177)"
          >Resources
        </a>
        <a
          href="#help"
          class="nav-link link-left mb-4"
          style="color: rgb(178, 177, 177)"
          >Help</a
        >
      </li>
    </div>

    <div class="px-3 py-5">
      <li class="nav-item" style="list-style: none">
        <p
          class="nav-link fw-bold mb-5"
          style="
            font-family: 'Josefin Sans', sans-serif;
            text-transform: uppercase;
          "
        >
          Helpful Resources
        </p>
        <a
          href="#about-us"
          class="nav-link link-left mb-4"
          style="color: rgb(178, 177, 177)"
          >Terms of Use
        </a>
        <a
          href="#about-us"
          class="nav-link link-left mb-4"
          style="color: rgb(178, 177, 177)"
          >FAQs</a
        >
        <a
          href="#about-us"
          class="nav-link link-left mb-4"
          style="color: rgb(178, 177, 177)"
          >Blog</a
        >
        <a
          href="#about-us"
          class="nav-link link-left mb-4"
          style="color: rgb(178, 177, 177)"
          >Community</a
        >
      </li>
    </div>
    <div class="px-3 py-5">
      <li class="nav-item" style="list-style: none">
        <p
          class="nav-link fw-bold mb-5"
          style="
            font-family: 'Josefin Sans', sans-serif;
            text-transform: uppercase;
          "
        >
          Get to know us
        </p>
        <a
          href="#about-us"
          class="nav-link link-left mb-4"
          style="color: rgb(178, 177, 177)"
          >About Dev Jobs</a
        >
        <a
          href="#about-us"
          class="nav-link link-left mb-4"
          style="color: rgb(178, 177, 177)"
          >Work with us</a
        >

        <a
          href="mailto:devjobs@devjobs.com?subject=Question%20about%20Dev%20Jobs&body=My%20name%3A%0D%0A%0D%0AMy%20question%3A"
          class="nav-link link-left mb-4"
          style="color: rgb(178, 177, 177)"
          >Contact us</a
        >
      </li>
    </div>
  </div>

  <!--BOTTOM LINKS-->
  <div
    class="d-md-flex align-items-center justify-content-md-evenly justify-content-center"
    style="background-color: rgb(38, 38, 39); color: white"
  >
    <div class="px-3 py-4">
      <i class="fa-solid fa-location-dot" style="color: #f8f9fa"></i>
      <a style="text-decoration: none"> With love, from Broto</a>
    </div>

    <div class="px-3 py-4">
      <a
        target="_blank"
        rel="noreferrer"
        href="https://github.com/vanesascode"
        style="text-decoration: none"
        class="nav-link image-up"
        >&copy; By vanesascode
      </a>
    </div>

    <div class="px-3 py-4">
      <a href="#" class="nav-link image-up" style="text-decoration: none"
        >Cookie Settings</a
      >
    </div>

    <div class="d-flex flex-md-row flex-column align-items-md-center">
      <div class="px-3 py-4">
        <a class="nav-link" style="text-decoration: none">Get the App:</a>
      </div>

      <div class="px-3 py-4">
        <a href="https://www.apple.com/"
          ><img
            src="./static/appstore.png"
            alt="appstore"
            style="height: 40px"
            class="ms-md-4 image-up"
        /></a>
      </div>
      <div class="px-3 py-4">
        <a href="https://play.google.com/store/games">
          <img
            src="./static/googleplay.png"
            alt="appstore"
            style="height: 40px"
            class="ms-md-4 image-up mb-4 mb-md-0"
        /></a>
      </div>
    </div>
  </div>
</footer>
