<!--INTERVIEWS section-->
<div class="row g-5">
  <!--PICTURE-->
  <div class="d-block col-md-5 d-flex flex-column align-items-center">
    <h1
      style="
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 500;
        color: white;
      "
      class="mb-5"
    >
      Tips for the interviews
    </h1>
    <img
      src="./static/tips.jpg"
      alt="tips"
      class="img-fluid"
      style="
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        height: 300px;
        width: 90%;
        object-fit: cover;
      "
    />
  </div>
  <!--ACCORDION-->
  <div class="accordion d-block col-md-7" id="accordionExample">
    <!--1-->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse-one"
          aria-expanded="false"
          aria-controls="collapse-one"
          style="box-shadow: none"
        >
          <b>Prepare thoroughly</b>
        </button>
      </h2>
      <div
        id="collapse-one"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Research the company and the specific role you are applying for.
          Familiarize yourself with the technologies, frameworks, and languages
          relevant to the position.
        </div>
      </div>
    </div>

    <!--2-->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse-two"
          aria-expanded="false"
          aria-controls="collapse-two"
        >
          <b>Review your technical knowledge</b>
        </button>
      </h2>
      <div
        id="collapse-two"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Brush up on fundamental programming concepts, data structures,
          algorithms, and design patterns. Be prepared to discuss your
          experience and projects in detail.
        </div>
      </div>
    </div>
    <!--3-->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse-three"
          aria-expanded="false"
          aria-controls="collapse-three"
        >
          <b>Practice coding</b>
        </button>
      </h2>
      <div
        id="collapse-three"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Solve coding challenges and practice coding questions on platforms
          like LeetCode or HackerRank. This will help improve your
          problem-solving skills and familiarize yourself with common coding
          interview formats.
        </div>
      </div>
    </div>
    <!--4-->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse-four"
          aria-expanded="false"
          aria-controls="collapse-four"
        >
          <b>Showcase your projects</b>
        </button>
      </h2>
      <div
        id="collapse-four"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Highlight any relevant projects you have worked on, including personal
          or open-source projects. Be ready to discuss the challenges you faced,
          decisions you made, and the impact of your work.
        </div>
      </div>
    </div>
    <!--5-->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse-five"
          aria-expanded="false"
          aria-controls="collapse-five"
        >
          <b>Be familiar with industry trends</b>
        </button>
      </h2>
      <div
        id="collapse-five"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Stay updated with the latest trends, tools, and technologies in the
          development field. This shows your enthusiasm and commitment to
          continuous learning.
        </div>
      </div>
    </div>
    <!--6-->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse-six"
          aria-expanded="false"
          aria-controls="collapse-six"
        >
          <b>Communicate effectively</b>
        </button>
      </h2>
      <div
        id="collapse-six"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          During the interview, clearly articulate your thoughts and ideas.
          Practice explaining complex technical concepts in a simple and concise
          manner.
        </div>
      </div>
    </div>
    <!--7-->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse-seven"
          aria-expanded="false"
          aria-controls="collapse-seven"
        >
          <b>Ask questions</b>
        </button>
      </h2>
      <div
        id="collapse-seven"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Prepare a list of thoughtful questions to ask the interviewers. This
          demonstrates your interest in the role and helps you gather more
          information about the company and team.
        </div>
      </div>
    </div>
    <!--8-->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse-eight"
          aria-expanded="false"
          aria-controls="collapse-eight"
        >
          <b>Be positive and confident</b>
        </button>
      </h2>
      <div
        id="collapse-eight"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Show enthusiasm for the opportunity and be confident in your
          abilities. Maintain a positive attitude throughout the interview
          process.
        </div>
      </div>
    </div>
  </div>
</div>
