<!--Title of section JOBS LIST-->

<div class="d-flex justify-content-center text-center flex-column">
  <p id="job" style="color: white">-</p>
  <h1
    style="
      margin-top: 150px;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 50px;
      font-weight: 500;
      line-height: 1.1;
      text-align: center;
    "
  >
    Request more info about a job position
  </h1>
  <p
    style="
      font-family: 'Josefin Sans', sans-serif;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.1;
      text-align: center;
    "
  >
    And we'll send you the whole description of the position and the direct
    contact to the company.
  </p>
</div>
<div class="d-flex justify-content-center">
  <!-- Button trigger modal -->
  <button
    class="btn btn-dark btn-lg py-2 mt-2 image-up"
    type="button"
    data-bs-toggle="modal"
    data-bs-target="#staticBackdrop"
  >
    New job positions every day!
  </button>

  <!-- Modal -->
  <div
    class="modal fade"
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">
            Having fresh job opportunities every day is truly remarkable, don't
            you think so?
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          It offers you the chance to explore a wide range of exciting new
          positions that align with your interests and skills. <br />
          <hr />
          This means you can stay updated on the latest job market trends and
          never miss out on potential career advancements.
          <hr />
          We also provide detailed job descriptions, qualifications, and
          application procedures, making it easier for you to assess if a
          particular position suits your aspirations. <br />
          <hr />
          With these incredible features, you can confidently navigate through
          the job market and pursue the opportunities that best match your
          ambitions.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
            See you tomorrow for more!
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
