<div
  class="fixed-top px-3 px-md-5"
  style="
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
  "
>
  <nav class="navbar navbar-expand-lg mb-2 mt-4">
    <div class="container-fluid">
      <a
        class="nav-link me-5 fs-3"
        href="#"
        style="font-family: 'Josefin Sans', sans-serif; font-weight: 500"
        >{{company_name}} Jobs</a
      >

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon fs-6 text-dark"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link text-dark mx-4 text-nowrap resaltar" href="#job"
            >Find Jobs</a
          >
          <a class="nav-link text-dark mx-4 text-nowrap resaltar" href="#advice"
            >Career Tips</a
          >
          <a class="nav-link text-dark mx-4 text-nowrap resaltar" href="#help"
            >Personal help</a
          >
          <a
            class="nav-link text-dark mx-4 text-nowrap resaltar"
            href="#opinions"
            >Opinions</a
          >
          <a
            class="nav-link text-dark mx-4 text-nowrap resaltar"
            href="#about-us"
            >About Us</a
          >
          <a
            class="nav-link text-dark mx-4 text-nowrap d-lg-none resaltar"
            href="#help"
            >Contact us</a
          >
          <a class="nav-link text-dark mx-4 text-nowrap d-lg-none" href="#job"
            >Apply</a
          >
        </div>
        <form class="container-fluid justify-content-end d-flex">
          <button
            class="btn btn-dark me-2 py-2 d-none d-lg-block"
            type="button"
          >
            <a href="#job" style="color: white; text-decoration: none">Apply</a>
          </button>
          <button
            class="btn btn-dark ms-2 py-2 d-none d-lg-block"
            type="button"
          >
            <a
              href="#help"
              style="color: white; text-decoration: none"
              class="hover-white-text"
              >Contact us</a
            >
          </button>
        </form>
      </div>
    </div>
  </nav>
</div>
