<div class="container">
  <!-- <div class="d-md-flex justify-content-evenly"></div> -->
  <div class="row">
    <!--testimonal 1-->
    <div class="col d-flex justify-content-center">
      <div class="card mb-3 mb-xl-0" style="width: 15rem">
        <img src="../static/testimonial1.jpg" class="card-img-top" alt="..." />
        <div class="card-body" style="min-height: 155px">
          <p class="card-text">
            "I love how user-friendly this website is. It made my job search so
            much easier and more efficient." - <b>Sarah M.</b>
          </p>
        </div>
      </div>
    </div>
    <!--testimonal 2-->
    <div class="col d-flex justify-content-center">
      <div class="card mb-3 mb-xl-0" style="width: 15rem">
        <img src="../static/testimonial2.jpg" class="card-img-top" alt="..." />
        <div class="card-body" style="min-height: 155px">
          <p class="card-text">
            "The job listings on this site are top-notch. I found multiple
            opportunities that matched my skills and interests." -
            <b>Mark R.</b>
          </p>
        </div>
      </div>
    </div>
    <!--testimonal 3-->
    <div class="col d-flex justify-content-center">
      <div class="card mb-3 mb-xl-0" style="width: 15rem">
        <img src="../static/testimonial3.jpg" class="card-img-top" alt="..." />
        <div class="card-body" style="min-height: 155px">
          <p class="card-text">
            "The support team behind this website is fantastic. They were
            responsive and helpful throughout my job search journey." -
            <b>David T.</b>
          </p>
        </div>
      </div>
    </div>
    <!--testimonal 4-->
    <div class="col d-flex justify-content-center">
      <div class="card mb-3 mb-xl-0" style="width: 15rem">
        <img src="../static/testimonial4.jpg" class="card-img-top" alt="..." />
        <div class="card-body" style="min-height: 155px">
          <p class="card-text">
            "This platform helped me find my dream job in the development field.
            Highly recommended!" - <b>Helen D.</b>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
